<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-geolocator" version="1.0.2">

    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <name>Android Geolocator</name>
    <description></description>
    <license></license>
    <keywords>cordova,geolocator</keywords>
    <repo>https://unknown</repo>

    <!-- JavaScript Interface -->
    <js-module src="www/geolocator.js" name="Geolocator">
        <clobbers target="geolocator" />
    </js-module>

    <!-- Android Configuration -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Geolocator">
                <param name="android-package" value="com.cgi.cordova.geolocator.GeolocatorPlugin"/>
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
        </config-file>
        <source-file src="src/android/GeolocatorPlugin.java" target-dir="src/com/cgi/cordova/geolocator" />
        <source-file src="src/android/GeolocatorLocationManager.java" target-dir="src/com/cgi/cordova/geolocator" />
        <source-file src="src/android/GeolocatorListener.java" target-dir="src/com/cgi/cordova/geolocator" />
    </platform>
</plugin>
